h1 {
    margin-bottom: 1em;
}

.done{
    color: lightgrey;
    text-decoration: line-through ;
}

.inline{
    display: inline-table;
}

.alert-warning{
    margin-bottom: 0px;
    margin-top: 10px;
}