<!DOCTYPE html>
<html ng-app="todo_app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="author" content="Miguel Rivero">
    <title>ToDo</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>
<body ng-controller="todo_ctlr">
    <div class="container-fluid">

        <h1>Tasks</h1>
        <div class="row">
            <!--  To do list  -->
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3>{{ listName | uppercase}}</h3>
                        <h6 class="text-right">{{ (todos | filter: !!done).length }} of {{todos.length}} remaining </h6>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li ng-repeat="todo in todos track by $index ">
                                <input type="checkbox" ng-checked="todo.done" ng-model="todo.done" ng-click="todoDone()">
                                <span ng-hide="editing" ng-class="{true:'done',false:''}[todo.done]" >{{todo.title}}</span>
                                <form ng-show="editing" ng-submit="editing = false" class="inline" >
                                    <input  type="text" class="form-control inline" placeholder="Enter task" ng-model="todo.title" set-focus-if="editing" ng-blur="editing = false" required>
                                </form>
                                <span ng-show="!todo.done">[ <a href="" ng-click="editing = true" >Edit</a> ]</span>
                                [ <a href="" ng-click="delete($index)">Delete</a> ]
                            </li>
                        </ul>
                        <form ng-submit="addTodo(new_todo)">
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputTask" placeholder="Enter task" ng-model="new_todo.title" ng-model-options="{debounce: {'default': 500, 'blur': 0}}" required>
                                <span class="input-group-btn">
                                    <button class="btn btn-default">Add</button>
                                </span>
                            </div>
                            <div class="alert alert-warning" role="alert" ng-show="new_todo.title.length<3">
                                Too short to be a task!
                            </div>
                        </form>
                    </div>
                    <!-- Default panel contents -->
                </div>
            </div><!--  End To do list  -->
        </div>
    </div>
<script src="bower/angular/angular.min.js"></script>
<script src="app/todoApp.js"></script>
<script src="app/controller/todo_controller.js"></script>
</body>
</html>